<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            @media screen {
                @font-face {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
                }
                @font-face {
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 700;
                    font-display: swap;
                    src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v19/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58i-xDwxUD2GF9Zc.woff) format('woff');
                }
                body {
                    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
                    font-weight: 400;
                }

                h1, h2, h3, h4, h5, h6, a {
                    font-family: "Quicksand", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
                    font-weight: 700;
                }
            }
        </style>
    </head>
    <body style="background-color: #E8E8E8; margin: 0; padding: 20px">
        <div style="background-color: #FFF; max-width: 560px; margin: 20px auto; padding: 50px 20px; border-radius: 7px; box-shadow: 0 0 5px #CECECE;">
            <img src="https://hashlens.robinvanuden.com/img/logo.png" alt="Hashlens logo" style="max-height: 70px; max-width: 100%;">
            <hr style="border: 1px solid #9892C6;">
            <h2 th:text="${title}"></h2>
            <p><b>Hello <span th:text="${name}"></span></b></p>
            <p>You requested a password reset. If not... please contact our administrators for more information.</p>
            <p>Click the link below to create a new password.</p>
            <p>
                <a th:href="@{'http://' + ${link}}" style="color:#9892C6; text-decoration: none;">Change password!</a>
            </p>
            <p>&nbsp;</p>
            <p>Kind regards,</p>
            <p>Team Hashlens</p>
        </div>
    </body>
</html>